@font-face{
    font-family: GaramondC;
    font-weight: 700;
    font-style: bold;
    src: local('GaramondC'),
        url('/fonts/GaramondC.woff2') format('woff2'),
        url('/fonts/GaramondC.ttf') format('ttf');
}
.wrapper{
    background:#fefbe9;
    background-image: url(img/main_fon_repeat.png);
    box-shadow: 0 8px 0 18px rgba(89,55,38,0.44);
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#4e2c1e;
    background-color:#eee8dd; 
    background-image: url(img/fon.jpg);
}

a{
    text-decoration: none;
}

.button{/* для кнопок*/
    font:inherit;
    text-align: center;
    color:#ffffff;
    vertical-align:middle;
    text-transform:uppercase;
    background-color: #8e5a15;
    border: solid 1px rgb(171, 110, 23);
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(119,71,11) 0%, rgb(211,149,56) 73%, rgb(245,220,185) 96%, rgb(255,249,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(119,71,11) 0%, rgb(211,149,56) 73%, rgb(245,220,185) 96%, rgb(255,249,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(119,71,11) 0%, rgb(211,149,56) 73%, rgb(245,220,185) 96%, rgb(255,249,224) 100%);
}
      

.button:hover,
.button:active,
.button:focus{
    color:#4e2c1e;
    background-color:#e8c478;
    border: solid 1px rgb(199, 168, 101);
    background-image: -moz-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
}

.navigation{/*основной блок навигации */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color:#ffffff;
    line-height: 1.2;
    text-align: justify;
    text-shadow: 0px 1px 0px rgba(17, 17, 26, 0.46);    
    background-image: -moz-linear-gradient( 90deg, rgb(164,103,31) 0%, rgb(131,76,11) 14%, rgb(119,71,11) 25%, rgb(176,120,43) 55%, rgb(233,192,135) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(164,103,31) 0%, rgb(131,76,11) 14%, rgb(119,71,11) 25%, rgb(176,120,43) 55%, rgb(233,192,135) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(164,103,31) 0%, rgb(131,76,11) 14%, rgb(119,71,11) 25%, rgb(176,120,43) 55%, rgb(233,192,135) 100%);
    box-shadow: 0px 1px 0px 0px rgba(126, 79, 19, 0.004);
}

.main_menu a,
.main-footer_bottom_menu a{
    color:#ffffff;
}
.send a {
    color:#472800;
}
.send,
.main_menu,
.drop-down_menu,
.family_slide,
.fotogallery_ul,
.main-footer_bottom_menu{/* для пунктов меню */ 
    list-style: none;
}
div.top_header{
    background-color:#4e2c1e;
    font-family:  Book Antiqua, Georgia, serif;
    color:#ffffff;
}
.top_header .telephon{/*верхний телефон*/
    font-size: 26px;
}
.top_header .arc{
    font-size: 13px;
}
.send{/*верхнее меню два пункта*/
    border-style: solid 1px  rgb(216, 201, 146);
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
    font-size: 16px;
    font-family: Book Antiqua, Georgia, serif;
    color: rgb(71, 40, 0);
    line-height: 1.2;
    text-align: justify;     
}
.send a:hover,/*ссылки при наведении*/
.send a:focus{
    text-shadow: 0px 1px 0px rgba(17, 17, 26, 0.46); 
}
.main_menu a:hover,/*ссылки при наведении*/
.main_menu a:focus {
    color: rgb(241, 120, 6);
}
.info_permanent_staff h2,/*стили для заголовков*/
.info_temporary_staff h2{
    font-family: GaramondC;
    font-size: 22px;
    font-weight: 700;
}
.info_permanent_staff h2{
    text-align: left;
}
.info_temporary_staff h2{
    text-align: right;
}
.text h2{
    font-size: 24px;
}
.info_permanent_staff,
.info_temporary_staff{
    color:#35190d
}
.main-footer_bottom_menu{/*нижнее меню фон*/
    background-color:#4e2c1e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color:#ffffff;
    /* line-height: 1.2; */
    text-align: justify;
    text-shadow: 0px 1px 0px rgba(17, 17, 26, 0.46);
}
.main-footer_bottom {/*нижнее меню с телефоном*/
    background-image: -moz-linear-gradient( 90deg, rgb(173,139,99) 0%, rgb(78,44,30) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(173,139,99) 0%, rgb(78,44,30) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(173,139,99) 0%, rgb(78,44,30) 100%);
    color:#ffffff; 
}
 .main-footer_bottom .telephon{/*нижний телефон*/
     font-family: GaramondC;
     font-size: 19px;
 } 
 .main-footer_bottom .small_text{/*нижний мал текст*/
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    line-height: 17px;
    text-align: right;
    text-shadow: 0px 1px 0px rgba(17, 17, 26, 0.63);     
}
.pick_ap_form_select{/*для селекта подбор персонала*/
    border:1px solid #ab6e17;
}